<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head">
    <title>Posts</title>
</head>

<body>

<div th:replace="layout :: menu" />
<header th:replace="layout :: site-header" />

<div>
    <header th:replace="layout :: site-message" />

    <div>

        <div>
            <h1 th:text="${post.title}">Title</h1>
            <div th:utext="${post.body}"></div>
            <div th:utext="${post.date}"></div>
        </div>

        <aside>
            <div th:replace="layout :: site-recent" />
        </aside>

    </div>
</div>

<footer th:replace="layout :: site-footer" />

</body>

</html>
